<!DOCTYPE html>
<html>
<head>
    <title>Break The AMS</title>
    <link rel='stylesheet' href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/break.css"/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/rowlink.js"></script>
</head>

<body>
  <header>
     <div class="navbar navbar-default navbar-fixed-top text-uppercase">
     <div class="container">
                    <div class="navbar-header">
                        <a href="/home/lobby" class="navbar-brand">Break The AMS</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
              {{#if user}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/leaderboard/leaderboard">Best scores</a></li>
                        <li><a href="/game/break.hbs/{{user.id}}">Game</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/profile/{{user.id}}">View profile</a></li>
                                <li><a href="/profile/edit/{{user.id}}">Edit profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/user/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
              {{/if}}
            {{#unless user}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user/register">Register</a></li>
                        <li><a href="/user/login">Login</a></li>
                    </ul>
                </div>
            {{/unless}}
        </div>
    </div>
</header>
{{#if error }}
    <h2>{{error}}</h2>
{{/if}}
{{{body}}}
</body>
<footer>
    <div class="container modal-footer">
        <p>&copy; 2016 - Software University Foundation</p>
    </div>
</footer>
</html>
